<li>
	<p class = "border">{{burger_name}} </p>
	<button class="change-devoured btn btn-primary" data-id="{{this.id}}" id ="{{this.id}}"   data-devoured="{{devoured}}">
		{{#if devoured}}not devoured !!!{{else}} devour it !!{{/if}}
	</button>

	

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}

{{!-- <button type="button" class="btn btn-primary">Primary</button> --}}
</li>
